flows/Vosf_Survey_Invitation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_questionShareRecord_to_List</name>
        <label>Add questionShareRecord to List</label>
        <locationX>456</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>questionShareRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>questionShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_questionIdSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_childQuestionIdSet</name>
        <label>Add To childQuestionIdSet</label>
        <locationX>456</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>childQuestionIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Child_Questions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Child_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_grandChildQuestionIdSet</name>
        <label>Add to grandChildQuestionIdSet</label>
        <locationX>456</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>grandChildQuestionIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_GrandChild_Questions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_GrandChild_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_questionIdSet</name>
        <label>Add To questionIdSet</label>
        <locationX>456</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>questionIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Survey_Questions.Question__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Survey_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_To_Final_List</name>
        <label>Adding To Final List</label>
        <locationX>338</locationX>
        <locationY>4175</locationY>
        <assignmentItems>
            <assignToReference>questionShareToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Over_List_of_QS_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Over_List_of_QS_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_to_questionShareExisting</name>
        <label>Adding to questionShareExisting</label>
        <locationX>162</locationX>
        <locationY>3719</locationY>
        <assignmentItems>
            <assignToReference>questionShareExisting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Over_Existing_Share_Records.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Over_Existing_Share_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_to_questionShareRecord</name>
        <label>Assignment to questionShareRecord</label>
        <locationX>456</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>questionShareRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>questionShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Participant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>questionShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>questionShareRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Survey_Questions.Question__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_questionShareRecord_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_To_surveyShareRecord</name>
        <label>Assignment To surveyShareRecord</label>
        <locationX>456</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>surveyShareRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Participant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>surveyShareRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Survey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_surveyShareRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Child_Add_questionShareRecord_to_List</name>
        <label>Child Add questionShareRecord to List</label>
        <locationX>456</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>questionShareRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>questionShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_childQuestionIdSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Child_Assignment_to_questionShareRecord</name>
        <label>Child Assignment to questionShareRecord</label>
        <locationX>456</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>questionShareRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>questionShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Participant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>questionShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>questionShareRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Child_Questions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Add_questionShareRecord_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_is_Same_as_Share_records_List</name>
        <label>Final is Same as Share records List</label>
        <locationX>290</locationX>
        <locationY>3599</locationY>
        <assignmentItems>
            <assignToReference>questionShareToInsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>questionShareRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Check_Before_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GrandChild_Add_questionShareRecord_to_List</name>
        <label>GrandChild Add questionShareRecord to List</label>
        <locationX>456</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>questionShareRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>questionShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_grandChildQuestionIdSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GrandChild_Assignment_to_questionShareRecord</name>
        <label>GrandChild Assignment to questionShareRecord</label>
        <locationX>456</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>questionShareRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>questionShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Participant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>questionShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>questionShareRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_GrandChild_Questions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GrandChild_Add_questionShareRecord_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Access_Record_Exists</name>
        <label>Check if Access Record Exists</label>
        <locationX>368</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assignment_To_surveyShareRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Share_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Survey_Questions</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_ExistingIds_Has_Question</name>
        <label>Check if ExistingIds Has Question</label>
        <locationX>250</locationX>
        <locationY>4055</locationY>
        <defaultConnector>
            <targetReference>Adding_To_Final_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dont_Add_to_Final_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>questionShareExisting</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Looping_Over_List_of_QS_Records.ParentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Over_List_of_QS_Records</targetReference>
            </connector>
            <label>Don&apos;t Add to Final List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Records_Exist</name>
        <label>Check if Records Exist</label>
        <locationX>182</locationX>
        <locationY>3479</locationY>
        <defaultConnector>
            <targetReference>Final_is_Same_as_Share_records_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuestionShareRecords_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_QuestionShare_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Over_Existing_Share_Records</targetReference>
            </connector>
            <label>QuestionShareRecords Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Before_Insert</name>
        <label>Null Check Before Insert</label>
        <locationX>182</locationX>
        <locationY>4583</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>questionShareToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_questionShareInsert</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_for_List_of_Questions</name>
        <label>Null Check for List of Questions</label>
        <locationX>368</locationX>
        <locationY>3239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>questionShareRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_QuestionShare_Records</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <description>This is a Record Triggered flow on Survey Invitation Object</description>
    <environments>Default</environments>
    <interviewLabel>Survey Invitation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vosf Survey Invitation Flow</label>
    <loops>
        <name>Loop_Over_Child_Questions</name>
        <label>Loop Over Child Questions</label>
        <locationX>368</locationX>
        <locationY>1967</locationY>
        <collectionReference>Get_All_Child_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Child_Assignment_to_questionShareRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_GrandChild_Questions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_GrandChild_Questions</name>
        <label>Loop Over GrandChild Questions</label>
        <locationX>368</locationX>
        <locationY>2663</locationY>
        <collectionReference>Get_All_GrandChild_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GrandChild_Assignment_to_questionShareRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check_for_List_of_Questions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Survey_Questions</name>
        <label>Loop Over Survey Questions</label>
        <locationX>368</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_All_Survey_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_to_questionShareRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Child_Questions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Over_Existing_Share_Records</name>
        <label>Looping Over Existing Share Records</label>
        <locationX>74</locationX>
        <locationY>3599</locationY>
        <collectionReference>Getting_QuestionShare_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_to_questionShareExisting</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Looping_Over_List_of_QS_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Over_List_of_QS_Records</name>
        <label>Looping Over List of QS Records</label>
        <locationX>74</locationX>
        <locationY>3935</locationY>
        <collectionReference>questionShareRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_ExistingIds_Has_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check_Before_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_questionShareInsert</name>
        <label>Insert questionShareInsert</label>
        <locationX>50</locationX>
        <locationY>4703</locationY>
        <inputReference>questionShareToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_surveyShareRecord</name>
        <label>Insert surveyShareRecord</label>
        <locationX>456</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Get_All_Survey_Questions</targetReference>
        </connector>
        <inputReference>surveyShareRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Child_Questions</name>
        <label>Get All Child Questions</label>
        <locationX>368</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Child_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Question__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Question__c</field>
            <operator>In</operator>
            <value>
                <elementReference>questionIdSet</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vosf_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_GrandChild_Questions</name>
        <label>Get All GrandChild Questions</label>
        <locationX>368</locationX>
        <locationY>2543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_GrandChild_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Question__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Question__c</field>
            <operator>In</operator>
            <value>
                <elementReference>childQuestionIdSet</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vosf_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Survey_Questions</name>
        <label>Get All Survey Questions</label>
        <locationX>368</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Survey_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Survey__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vosf_Survey_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Share_Record</name>
        <label>Get Share Record</label>
        <locationX>368</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Access_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Survey__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vosf_Survey__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is to update the survey invitation url on creation.</description>
        <name>Get_Survey_Setting_Record</name>
        <label>Get Survey Setting Record</label>
        <locationX>368</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Survey_Invitation_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vosf_Survey_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_QuestionShare_Records</name>
        <label>Getting QuestionShare Records</label>
        <locationX>182</locationX>
        <locationY>3359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Records_Exist</targetReference>
        </connector>
        <filterLogic>( 1 OR 2 OR 3 ) AND 4</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>questionIdSet</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>childQuestionIdSet</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>grandChildQuestionIdSet</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vosf_Question__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Survey_Invitation_Record</name>
        <label>Update Survey Invitation Record</label>
        <locationX>368</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Share_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Survey_Link__c</field>
            <value>
                <stringValue>{!Get_Survey_Setting_Record.Survey_Org_Base_URL__c}{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>242</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey_Setting_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vosf_Survey_Invitation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>childQuestionIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>grandChildQuestionIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionShareExisting</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vosf_Question__Share</objectType>
    </variables>
    <variables>
        <description>Question Share Records to give participant access to questions of the survey the invitation belongs to</description>
        <name>questionShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vosf_Question__Share</objectType>
    </variables>
    <variables>
        <name>questionShareToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vosf_Question__Share</objectType>
    </variables>
    <variables>
        <description>Survey Share Record to give participant access to survey the invitation belongs to</description>
        <name>surveyShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vosf_Survey__Share</objectType>
    </variables>
</Flow>
